name: Update README

on:
  schedule:
    - cron: '0 0 * * *'  # Daily at midnight
  workflow_dispatch:  # Manual trigger
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      
      - name: Update README with metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Malcom-Yingwani
          template: classic
          base: header, activity, community, repositories
          plugin_lines: yes
          plugin_repositories: yes
          plugin_repositories_featured: Malcom-Yingwani/ReadUP, Malcom-Yingwani/Downloads-Organiser, Malcom-Yingwani/Atlas_Dev_Tools_Landing_Page
